html, body {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 400 !important;
  font-size: 15px !important;
}

small{
  font-size: 11px !important;
}

/* Component */
.card{
  border-radius: 0px !important;
}
#sidebar{
  background: rgb(23, 23, 141) !important;
}
.nav-link:hover{
  color: slategray !important;
}
/*  */